* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #00ADB5;
  font-family: sans-serif;
  
}

.input-group {
    position: relative;
}

form {
    text-align: center;
    background-color: #FFF;
    padding: 20px;
}

input {
    font-size: 18px;
    padding: 10px;
    width: 33vw;
    margin-bottom: 40px;
    border-radius: 5px;
    outline: none;
    
}

h1 {
    margin: 40px;
    /* border: 2px solid blue ; */
}

textarea{
    font-size: 18px;
    padding: 10px;
    width: 33vw;
    height: 20vh;
}

.placeholder1 {
    position: absolute;
    top: 12px;
    left: 8px;
    font-size: 1em;
    padding: 0 5px;
    color: #666;
    transition: 0.3s;
    pointer-events: none;
}

input:focus + .placeholder1 {
    top: -9px;
    color: #000;
    background-color: #fff;
}

.placeholder2 {
    position: absolute;
    top: 97px;
    left: 8px;
    font-size: 1em;
    padding: 0 5px;
    color: #666;
    transition: 0.3s;
    pointer-events: none;
}

input:focus + .placeholder2 {
    top: 77px;
    color: #000;
    background-color: #fff;
}

button {
    padding: 5px;
    font-size: 18px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
}

a{
    float: left;
    font-size: 20px;
    color: #ff00f3;
    text-decoration: none;
}

a:hover {
    color :#ff0000
}

@media screen and (max-width:768px){
    input {
        width:200px;
    }

    .placeholder1 {
        left: 30px;
    }

    .placeholder2 {
        left: 29px;
        font-size: .8em;
    }
}